trigger:
  tags:
    include:
      - v*
  branches:
    include:
      - master
      - release/*
      - feature/*
      - bug/*
  paths:
    exclude:
      - README.md
      - helm-charts/*

pool:
  vmImage: 'ubuntu-latest'

variables:
  DOCKER_CONTAINER_REGISTRY: 'Decentralized Cloud Docker Hub'
  DOCKER_REPOSITORY_NAME: 'decentralizedcloud/tenant'

steps:
- task: Bash@3
  displayName: "Generating version"
  inputs:
    filePath: '$(system.defaultWorkingDirectory)/script/generate-version.sh'
    arguments: $(Build.SourceBranch)

- task: Bash@3
  displayName: "Build gRPC contract"
  inputs:
    filePath: '$(system.defaultWorkingDirectory)/script/compile-grpc.sh'
    arguments: '$(system.defaultWorkingDirectory)/script'

- task: Docker@2
  displayName: "Build docker image"
  inputs:
    repository: $(DOCKER_REPOSITORY_NAME)
    command: 'build'
    Dockerfile: '$(system.defaultWorkingDirectory)/docker/Dockerfile.build'
    buildContext: '$(system.defaultWorkingDirectory)'
    arguments: '--build-arg VERSION=$(VERSION)'
    tags: $(VERSION)

- task: Bash@3
  displayName: "Test and Coverage"
  inputs:
    filePath: '$(system.defaultWorkingDirectory)/script/run-tests.sh'
    arguments: '$(system.defaultWorkingDirectory)/script'

- task: Docker@2
  displayName: "Docker Login"
  inputs:
    containerRegistry: $(DOCKER_CONTAINER_REGISTRY)
    command: 'login'

- task: Docker@2
  displayName: "Push docker image"
  inputs:
    containerRegistry: $(DOCKER_CONTAINER_REGISTRY)
    repository: $(DOCKER_REPOSITORY_NAME)
    command: 'push'
    buildContext: '$(system.defaultWorkingDirectory)'
    tags: $(VERSION)

- task: Docker@2
  displayName: "Docker Logout"
  inputs:
    containerRegistry: $(DOCKER_CONTAINER_REGISTRY)
    command: 'logout'

